@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
    @apply bg-[length:0];
    @apply hover:bg-[length:100%];
    @apply bg-no-repeat;
    @apply bg-gradient-to-r;
    @apply from-blue-600;
    @apply to-blue-600;
    @apply bg-left;
    @apply no-underline;
    @apply rounded-lg;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(37 99 235);
  }
}
