.nav_wrap {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.nav_item {
  margin: 0 12px;

  & a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    padding: 12px;
    border-radius: 6px;

    transition: all ease-in-out 0.2s;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
