@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Cascadia Code';
  src: url('./assets/CascadiaCode.woff2') format('woff'),
    url('./assets/CascadiaCode.ttf') format('truetype');
}

@tailwind utilities;

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
