body {
  margin: 0;
  font-family: 'Cascadia Code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia Code'),
    '%PUBLIC_URL%/fonts/CascadiaCode.woff2' format('woff');
}

a {
  text-decoration: none;
  color: rgb(0, 127, 255);
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: rgba(0, 127, 255, 0.6);
}

.button {
  color: rgb(0, 0, 0);
  padding: 12px;
  vertical-align: middle;
  border-radius: 6px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.button:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
}

.button:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
}

.button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.button a:hover {
  color: rgb(0, 0, 0);
}

.divider {
  width: 100%;
  padding: 24px 0;

  display: flex;
}

.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
}

